/*
* Button
*/

.btn {
  @include btn-style();

  &-round {
    border-radius: $button-round-border-radius !important;
  }

  &-square {
    border-radius: 0 !important;
  }

  &-disable {
    color: $button-disable-text-color !important;
    background-color: $button-disable-bg-color !important;
    border-color: $button-disable-border-color !important;

    &:hover, &:focus {
      cursor: default !important;
      color: $button-disable-text-color !important;
      background-color: $button-disable-bg-color !important;
      border-color: $button-disable-border-color !important;
    }
  }

  &-primary {
    color: $button-primary-text-color !important;
    background-color: $button-primary-bg-color !important;
    border-color: $button-primary-border-color !important;

    &:hover, &:focus {
      color: $button-primary-text-color !important;
      background-color: $button-primary-hover-bg-color !important;
      border-color: $button-primary-hover-border-color !important;
    }

    &-inverse {
      color: $button-primary-inverse-text-color !important;
      background-color: $button-primary-inverse-bg-color !important;
      border-color: $button-primary-inverse-border-color !important;

      &:hover, &:focus {
        color: $button-primary-inverse-hover-text-color !important;
        background-color: $button-primary-inverse-hover-bg-color !important;
        border-color: $button-primary-inverse-hover-border-color !important;
      }
    }
  }

  &-full {
    width: 100% !important;
    display: flex !important;
    display: -webkit-flex !important;
  }
}