/**
* Cursor
*/

.cursor {
  &-default {
    cursor: default !important;
  }

  &-pointer {
    cursor: pointer !important;
  }

  &-none {
    cursor: none !important;
  }

  &-move {
    cursor: move !important;
  }
}
