/**
* Helpers
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––-----------------------------
+ Border
+ Spacing
+ Float
+ Text
+ Display
+ Opacity
+ Button
+ Image
+ Transition
*/

/* Border
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.border {
  border: $border-size $border-style $border-color !important;

  &-top {
    border-top: $border-size $border-style $border-color !important;
  }

  &-right {
    border-right: $border-size $border-style $border-color !important;
  }

  &-bottom {
    border-bottom: $border-size $border-style $border-color !important;
  }

  &-left {
    border-left: $border-size $border-style $border-color !important;
  }
}

/* Spacing
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
// Padding
.padding {
  padding: $padding !important;

  &-none {
    padding: 0 !important;
  }

  &-top {
    padding-top: $padding !important;

    &-none {
      padding-top: 0 !important;
    }
  }

  &-right {
    padding-right: $padding !important;

    &-none {
      padding-right: 0 !important;
    }
  }

  &-bottom {
    padding-bottom: $padding !important;

    &-none {
      padding-bottom: 0 !important;
    }
  }

  &-left {
    padding-left: $padding !important;

    &-none {
      padding-left: 0 !important;
    }
  }
}

// Margins
.margin {
  margin: $margin !important;

  &-none {
    margin: 0 !important;
  }

  &-top {
    margin-top: $margin !important;

    &-none {
      margin-top: 0 !important;
    }
  }

  &-right {
    margin-right: $margin !important;

    &-none {
      margin-right: 0 !important;
    }
  }

  &-bottom {
    margin-bottom: $margin !important;

    &-none {
      margin-bottom: 0 !important;
    }
  }

  &-left {
    margin-left: $margin !important;

    &-none {
      margin-left: 0 !important;
    }
  }
}

/* Float
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.float {
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }
}

/* Text
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.text {
  // Text position
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  // Text-color
  &-important {
    color: $important-color !important;
  }

  &-warning {
    color: $warning-color !important;
  }

  &-primary {
    color: $primary-color !important;
  }

  &-description {
    color: $secondary-text-color !important;
  }

  // Text-transform
  &-uppercase {
    text-transform: uppercase !important;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-capitalize {
    text-transform: capitalize !important;
  }
}

/* Display
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.display {
  &-block {
    display: block !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-none {
    display: none !important;
  }
}

/* Opacity
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.opacity {
  opacity: 1 !important;

  &-none {
    opacity: 0
  }
}

/* Button
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.btn {
  @include btn-style();

  &-round {
    border-radius: $button-round-border-radius !important;
  }

  &-square {
    border-radius: 0 !important;
  }

  &-primary {
    color: $button-primary-text-color !important;
    background-color: $button-primary-bg-color !important;
    border-color: $button-primary-border-color !important;

    &:hover, &:focus {
      color: $button-primary-text-color !important;
      background-color: $button-primary-hover-bg-color !important;
      border-color: $button-primary-hover-border-color !important;
    }

    &-inverse {
      color: $button-primary-inverse-text-color !important;
      background-color: $button-primary-inverse-bg-color !important;
      border-color: $button-primary-inverse-border-color !important;

      &:hover, &:focus {
        color: $button-primary-inverse-hover-text-color !important;
        background-color: $button-primary-inverse-hover-bg-color !important;
        border-color: $button-primary-inverse-hover-border-color !important;
      }
    }
  }

  &-full {
    width: 100% !important;
    display: block !important;
  }
}

/* Image
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.image {
  &-responsive {
    width: 100% !important;
    height: auto !important;
  }

  &-round {
    border-radius: 50% !important;
  }
}

/* Transition
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.transition {
  -webkit-transition: all $transition-sec $transition-type !important;
  -moz-transition: all $transition-sec $transition-type !important;
  transition: all $transition-sec $transition-type !important;
}