/**
* Helpers
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––-----------------------------
+ Color
+ Border
+ Spacing
+ Float
+ Text
+ Display
+ Opacity
+ Button
+ Image
+ Transition
+ Position
+ Width, height
+ Flex
*/

/* Color
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
@include color-propperties(color);
@include color-propperties(background-color);
@include color-propperties(border-color);

/* Border
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.border {
  border: $border-size $border-style $border-color !important;

  &-2 {
    border-width: $border-size * 2 !important;
  }

  &-3 {
    border-width: $border-size * 3 !important;
  }

  &-top {
    border-top: $border-size $border-style $border-color !important;

    &-2 {
      border-top-width: $border-size * 2 !important;
    }
  
    &-3 {
      border-top-width: $border-size * 3 !important;
    }
  }

  &-right {
    border-right: $border-size $border-style $border-color !important;

    &-2 {
      border-right-width: $border-size * 2 !important;
    }
  
    &-3 {
      border-right-width: $border-size * 3 !important;
    }
  }

  &-bottom {
    border-bottom: $border-size $border-style $border-color !important;

    &-2 {
      border-bottom-width: $border-size * 2 !important;
    }
  
    &-3 {
      border-bottom-width: $border-size * 3 !important;
    }
  }

  &-left {
    border-left: $border-size $border-style $border-color !important;

    &-2 {
      border-left-width: $border-size * 2 !important;
    }
  
    &-3 {
      border-left-width: $border-size * 3 !important;
    }
  }
}

/* Spacing
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
// Padding
.padding {
  padding: $padding !important;

  &-2 {
    padding: $padding * 2 !important;
  }

  &-3 {
    padding: $padding * 3 !important;
  }

  &-none {
    padding: 0 !important;
  }

  &-top {
    padding-top: $padding !important;

    &-2 {
      padding-top: $padding * 2 !important;
    }

    &-3 {
      padding-top: $padding * 3 !important;
    }

    &-none {
      padding-top: 0 !important;
    }
  }

  &-right {
    padding-right: $padding !important;

    &-2 {
      padding-right: $padding * 2 !important;
    }

    &-3 {
      padding-right: $padding * 3 !important;
    }

    &-none {
      padding-right: 0 !important;
    }
  }

  &-bottom {
    padding-bottom: $padding !important;

    &-2 {
      padding-bottom: $padding * 2 !important;
    }

    &-3 {
      padding-bottom: $padding * 3 !important;
    }

    &-none {
      padding-bottom: 0 !important;
    }
  }

  &-left {
    padding-left: $padding !important;

    &-2 {
      padding-left: $padding * 2 !important;
    }

    &-3 {
      padding-left: $padding * 3 !important;
    }

    &-none {
      padding-left: 0 !important;
    }
  }
}

// Margins
.margin {
  margin: $margin !important;

  &-2 {
    margin: $margin * 2 !important;
  }

  &-3 {
    margin: $margin * 3 !important;
  }

  &-none {
    margin: 0 !important;
  }

  &-top {
    margin-top: $margin !important;

    &-2 {
      margin-top: $margin * 2 !important;
    }

    &-3 {
      margin-top: $margin * 3 !important;
    }

    &-none {
      margin-top: 0 !important;
    }
  }

  &-right {
    margin-right: $margin !important;

    &-2 {
      margin-right: $margin * 2 !important;
    }

    &-3 {
      margin-right: $margin * 3 !important;
    }

    &-none {
      margin-right: 0 !important;
    }
  }

  &-bottom {
    margin-bottom: $margin !important;

    &-2 {
      margin-bottom: $margin * 2 !important;
    }

    &-3 {
      margin-bottom: $margin * 3 !important;
    }

    &-none {
      margin-bottom: 0 !important;
    }
  }

  &-left {
    margin-left: $margin !important;

    &-2 {
      margin-left: $margin * 2 !important;
    }

    &-3 {
      margin-left: $margin * 3 !important;
    }

    &-none {
      margin-left: 0 !important;
    }
  }
}

/* Float
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.float {
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }
}

/* Text
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.text {
  // Text position
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  // Text-color
  &-important {
    color: $important-color !important;
  }

  &-warning {
    color: $warning-color !important;
  }

  &-primary {
    color: $primary-color !important;
  }

  &-description {
    color: $secondary-text-color !important;
  }

  // Text-transform
  &-uppercase {
    text-transform: uppercase !important;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-capitalize {
    text-transform: capitalize !important;
  }
}

/* Display
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.hidden {
  display: none !important;
}

/* Opacity
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.opacity {
  opacity: 1 !important;

  &-none {
    opacity: 0
  }
}

/* Button
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.btn {
  @include btn-style();

  &-round {
    border-radius: $button-round-border-radius !important;
  }

  &-square {
    border-radius: 0 !important;
  }

  &-primary {
    color: $button-primary-text-color !important;
    background-color: $button-primary-bg-color !important;
    border-color: $button-primary-border-color !important;

    &:hover, &:focus {
      color: $button-primary-text-color !important;
      background-color: $button-primary-hover-bg-color !important;
      border-color: $button-primary-hover-border-color !important;
    }

    &-inverse {
      color: $button-primary-inverse-text-color !important;
      background-color: $button-primary-inverse-bg-color !important;
      border-color: $button-primary-inverse-border-color !important;

      &:hover, &:focus {
        color: $button-primary-inverse-hover-text-color !important;
        background-color: $button-primary-inverse-hover-bg-color !important;
        border-color: $button-primary-inverse-hover-border-color !important;
      }
    }
  }

  &-full {
    width: 100% !important;
    display: block !important;
  }
}

/* Image
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.image {
  &-responsive {
    width: 100% !important;
    height: auto !important;
  }

  &-round {
    border-radius: 50% !important;
  }
}

/* Transition
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.transition {
  -webkit-transition: all $transition-sec $transition-type !important;
  -moz-transition: all $transition-sec $transition-type !important;
  transition: all $transition-sec $transition-type !important;
}

/* Position
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.position {
  &-fixed { 
    position: fixed !important;
  }

  &-absolute {
    position: absolute !important;
  }

  &-relative {
    position: relative !important;
  }

  &-sticky {
    position: sticky !important;
  }
}

.top-zero {
  top: 0 !important;
}

.right-zero {
  right: 0 !important;
}

.bottom-zero {
  bottom: 0 !important;
}

.left-zero {
  left: 0 !important;
}

/* Width, height
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
@include size(width);
@include size(height);

/* Width, height
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.flex {
  display: flex !important;

  &-column {
    flex-flow: column wrap !important;
    -ms-flex-flow: column wrap !important;
  }

  &-spread {
    flex-grow: 1 !important;
  }

  &-static {
    flex-shrink: 0 !important;
  }
}