/**
* Helpers
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––-----------------------------
+ Border
+ Spacing
+ Float
+ Text
+ Display
+ Button
*/

/* Border
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.has-border {
  border: $border-size $border-style $border-color !important;
}

/* Spacing
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
// Padding
.no {
  &-padding {
    padding: 0 !important;
  }

  &-padding-top {
    padding-top: 0 !important;
  }

  &-padding-right {
    padding-right: 0 !important;
  }

  &-padding-bottom {
    padding-bottom: 0 !important;
  }

  &-padding-left {
    padding-left: 0 !important;
  }
}

.padding {
  &-top {
    padding-top: $padding !important;
  }

  &-right {
    padding-right: $padding !important;
  }

  &-bottom {
    padding-bottom: $padding !important;
  }

  &-left {
    padding-left: $padding !important;
  }
}

// Margins
.no {
  &-margin {
    margin: 0 !important;
  }

  &-margin-top {
    margin-top: 0 !important;
  }

  &-margin-right {
    margin-right: 0 !important;
  }

  &-margin-bottom {
    margin-bottom: 0 !important;
  }

  &-margin-left {
    margin-left: 0 !important;
  }
}

.margin {
  &-top {
    margin-top: $padding !important;
  }

  &-right {
    margin-right: $padding !important;
  }

  &-bottom {
    margin-bottom: $padding !important;
  }

  &-left {
    margin-left: $padding !important;
  }
}

/* Float
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.float {
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }
}

/* Text
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.text {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }
}

/* Display
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.display {
  &-block {
    display: block !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-none {
    display: none !important;
  }
}

/* Button
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.btn {
  @include btn-style();

  &-round {
    border-radius: $button-round-border-radius !important;
  }

  &-square {
    border-radius: 0 !important;
  }

  &-primary {
    color: $button-primary-text-color !important;
    background-color: $button-primary-bg-color !important;
    border-color: $button-primary-border-color !important;

    &:hover, &:focus {
      color: $button-primary-text-color !important;
      background-color: $button-primary-hover-bg-color !important;
      border-color: $button-primary-hover-border-color !important;
    }
  }

  &-full {
    width: 100% !important;
    display: block !important;
  }
}