/**
 * Variables
 *
 * The majority of the configuration for the css framework.
 */

//==============================================================================
// Containers & Breakpoints
//==============================================================================

$sm: 600px !default;
$md: 800px !default;
$lg: 1000px !default;
$xl: 1200px !default;

//==============================================================================
// Grid
//==============================================================================

$grid-columns: 12 !default;

//==============================================================================
// Spacing
//==============================================================================

$padding: 1rem !default;

